img {
    border: 1px solid ivory;
    border-radius: 4px;
    padding: 5px;
}
.empcard {
    padding: 10px;
    margin: 5px;
}

td {
    padding:5px;
    background-color: lemonchiffon;
    border: 1px solid ivory;
    border-radius: 4px;
    
}